{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"prettier"
	],
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"ecmaFeatures": {
			"jsx": true
		}
	},
	"plugins": ["react", "@typescript-eslint", "prettier", "only-error"],
	"rules": {
		"prettier/prettier": "warn"
	},
	"settings": {
		"react": {
			"version": "detect"
		}
	}
}
